<nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm">
  <div class="container px-5">
    <a class="navbar-brand" [routerLink]="['/']"><img src="assets/images/logo.png"></a>
  </div>
</nav>
<header class="master-head">
  <div class="bg">
    <div class="txt container col-lg-5 col-md-5">
      <h1 class="text-bold"><p class="highlight">WELCOME</p> Best Online Casino</h1>
      <p>
        Choosing the best online casino may not be easy, but only then can you rest assured that you’re
        getting the finest online entertainment and an authentic casino experience.
      </p>
      <p>
        Good online casinos offer a generous Welcome Bonus, Free Spins rewards and a selection of the best slot games,
        so let’s find out how to find an online casino that can provide an unparalleled range of products and services to suit your needs.
      </p>
      <div class="d-flex align-items-center justify-content-end">
        <div>
          <a href="assets/res/Luhoplay.mobileconfig" role="button" class="btn btn-outline-light mt-4 me-3" download>
            <i class="fab fa-apple"></i>
            IOS
          </a>
        </div>
        <div>
          <a href="assets/res/LUHOPLAY.apk" role="button" class="btn btn-outline-light mt-4 me-3" download>
            <i class="fab fa-android"></i>
            Android
          </a>
        </div>
      </div> 
    </div>
  </div>
</header>