.master-head {
  height: 100vh;
  padding-top: 66px;
  padding-bottom: 5rem;
  color: #fff;
  background: url('../assets/images/bg.jpg');

  .bg {
    height: 691px;
    background: url(../assets/images/bg2.png) center;
  }

  .txt {
    padding-top: 200px;
    float: right;
    text-align: center;
  }

  @media (min-width: 768px) {
    .txt {
      position: absolute;
      right: 15%;
    }
  }
}

.navbar {
  background: #381e01;

  .container {
    justify-content: center;
    height: 66px;

    a {
      position: absolute;
      top: 0;
      display: block;
      width: 273px;
      height: 150px;
      text-align: center;
      background: url('../assets/images/logo_bg.png');
    }
  }
}

.highlight {
  color: #ffc000;
}

.text-bold {
  font-weight: bold;
}
